{% extends 'base.html' %}
{% load static %}

{% block title %}
contact
{% endblock title %}

{% block content %}

<div class="container-div">
    <div class="main-div">
        <div class="contact d-flex">
            <div class="contact-detail">
                <h2 class="contact-heading">CONTACT US</h2>
                <!-- location -->
                <p class="para my-5"><i class="bi bi-geo-alt"></i>   <a href="https://www.google.com/maps/dir/11.283935,75.8453983/national+hospital+calicut/@11.2753131,75.794207,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3ba659379b97f227:0x289f1c125026f075!2m2!1d75.7812429!2d11.2595096" class="text-white text-decoration-none" target="_blank">Mavoor Rd, Near KSRTC Bus Stand, Calicut</a></p>

                <!-- email -->
                <p class="para my-5"><i class="bi bi-envelope-at"></i>    universityhospital0@gmail.com</p>

                <!-- number -->
                <p class="para my-5"><i class="bi bi-phone"></i>  +91 9242447180</p>


                <!-- social media -->
                <section>
                    <!-- Facebook -->
                    <a href="#!" role="button" class="text-white"><i class="bi bi-facebook mx-2 social-media"></i></a>

                    <!-- Twitter -->
                    <a href="#!" role="button" class="text-white"><i class="bi bi-twitter  mx-2 social-media"></i></a>

                    <!-- instagram -->
                    <a href="#!" role="button" class="text-white"><i class="bi bi-instagram mx-2 social-media"></i></a>
                    
                    <!-- Youtube -->
                    <a href="#!" role="button" class="text-white"><i class="bi bi-youtube mx-2 social-media"></i></a>

                    <!-- linkedin -->
                    <a href="#!" role="button" class="text-white"><i class="bi bi-linkedin mx-2 social-media"></i></a>
                </section>
            </div>
            <div class="contact-form">
                <div class="form-field">
                    <h1 class="form-heading">GET IN TOUCH</h1>
                    <form action="" class="input-form">
                        <input type="email" placeholder="Enter your email" class="inp"><br>
                        <input type="text" placeholder="Subject" class="inp"><br>
                        <textarea name="" id="" cols="50" rows="2" class="inp" placeholder="Enter your text here......"></textarea><br>
                        <input type="submit" value="Sent" class="submit-btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}

